*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.createpost-content{
    margin: 50px 50px;
}

.createpost-content form input{
    width: 100%;
    height: 35px;
    margin-top: 5px;
}
.video-content-div{
    margin-top: 40px;
    width: 100%;
    height: 90vh;
    display: flex;
    padding: 10px 10px;
}
.other-content-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
}
.other-content-input-div{
    padding: 7px 7px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:end;
}
.video-config{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    /* background-color: aqua; */
}
.inputandbutton-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}
.other-content-input-div input{
    border-color:rgb(143, 101, 217);
    border-width:4px;
    border-style:solid;
    width: 58%;
    margin: 5px 5px;
}
.other-content-input-div button{
    margin: 5px 5px;
    background-color: rgb(143, 101, 217);
    border: 2px solid #000;
    padding: 2px 2px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    color: #fff;
    width: 58%
}

.Bigger-video-div{
    border-color:rgb(143, 101, 217);
    border-width:4px;
    border-style:solid;
    height: 500px;
    width: 100%;  
}
.Smaller-video-div{
    position: absolute;
    border-color:rgb(143, 101, 217);
    border-width:4px;
    border-style:solid;
    height: 150px;
    width: 20%;
}
.chat-div{
    padding: 7px 7px;
    width: 30%;
    height: 100%;
    border-width:4px;
    border-style:solid;
    border-color:rgb(143, 101, 217);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.user-chat-text{
    width: 100%;
    height: 100%;
    padding: 5px 5px;
}
.chat-input-text{
    width: 100%;
    padding: 5px 5px;
    display: flex;
    justify-content: space-between;
}
.chat-input-text input
{
    width: 80%;
    height: 100%;
}
.chat-input-text button{
    background-color: #fff;
    border: 2px solid #000;
    height: 100%;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 6px;
    font-weight: 700;
    font-size: 13px;
    color: #fff;
    background-color: rgb(143, 101, 217);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.message{
    color: white;
    padding: 13px 17px;
    line-height: 20px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 7px;
    margin: 5px 5px;
    width: 60%;
    position: relative;                                                             
}
.incomming-chats{
    background-color: rgb(231,231,236);
    color: #000;
    float: left;
}
.outcomming-chats{
    background-color: rgb(54,47,115);
    float: right;
}
.chat-messages{
    /* max-height: 300px; */
    overflow-y: auto;
}